body
    font-family: 'Poppins', sans-serif;

// 
.fontstyle__sidebar
    &-title
        font-weight: 700
        font-size: 28px
    &-version
        font-size: 16px
        font-weight: 700
    &-first-level-title
        font-weight: 400
        font-size: 18px
        line-height: 1.4
    &-second-level-title
        font-weight: 400
        font-size: 16px
    &-third-level-title
        font-weight: 400
        font-size: 15px

