@import "helpers/_sizes";
@import "helpers/_base";
@import "helpers/_icons";

@import "components/content";
@import "components/sidebar";

.frame
    position: fixed
    z-index: 9999999
    top: 0
    height: 0
    width: 100%
    height: 100vh
    border: $s solid white
    pointer-events: none
    display: none

.wrap
    display: flex
    flex-direction: column
    padding: 0 $s*4
    margin: 0 auto
    max-width: 1200px
    @media screen and (max-width: $mobile-view)
        padding: 0 $s*3