.theme-material
    --black-clr: #222
    --text-clr: #F4FDFD
    --text-clr-opacity-medium: rgba(234, 255, 255, 0.6);
    --text-clr-opacity-high: rgba(234, 255, 255, 0.4);
    --selection-clr: #FFC3C3

    --primary-clr: #233239
    --accent-clr: #FFB961
    --accent-clr-opacity-medium: rgba(255,200,97,0.4)

    --sidebar-visible: #212E34
    --sidebar-burger-background: white
    --sidebar-burger-opened-background: white

    --standart-link: #78A9FF
    --visited-link: #CF90EE
    --hovered-link: var(--accent-clr)