.theme-rednight
    --black-clr: #222
    --text-clr: #fff
    --text-clr-opacity-medium: rgba(255, 255, 255, 0.6);
    --text-clr-opacity-high: rgba(255, 255, 255, 0.4);
    --selection-clr: #FFC3C3

    --primary-clr: #222
    --accent-clr: #f57
    --accent-clr-opacity-medium: rgba(255,85,119,0.4)

    --sidebar-visible: #111
    --sidebar-burger-background: white
    --sidebar-burger-opened-background: white

    --standart-link: #afc0ff
    --visited-link: #8270c5
    --hovered-link: var(--accent-clr)