.theme-peach
    --black-clr: #222
    --text-clr: var(--black-clr)
    --text-clr-opacity-medium: rgba(34, 34, 34, 0.6);
    --text-clr-opacity-high: rgba(34, 34, 34, 0.4);
    --selection-clr: #FFC3C3

    --primary-clr: #FFF9F5
    --accent-clr: #f57
    --accent-clr-opacity-medium: rgba(255,85,119,0.4)

    --sidebar-visible: white
    --sidebar-burger-background: white
    --sidebar-burger-opened-background: var(--primary-clr)

    --standart-link: #0000EE
    --visited-link: #551A8B
    --hovered-link: var(--accent-clr)
