*
    box-sizing: border-box

::selection 
  background: var(--selection-clr)

body
    background: var(--primary-clr)
    color: var(--black-clr)
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    overflow-x: hidden