.download-ico
	background-image: url(../img/icons/download-ico.svg)
	background-size: contain
	background-repeat: no-repeat

.directto-ico
	background-image: url(../img/icons/directto-ico.svg)
	background-size: contain
	background-repeat: no-repeat

.link-ico
	background-image: url(../img/icons/link-ico.svg)
	background-size: contain
	background-repeat: no-repeat